/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBHMdazTgWw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBHMdazQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBHMdazTgWw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBHMdazQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO5CnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmkCHkaSTbQWt4N.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO5CnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmkBnkaSTbQWg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO5CnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmkCHkaSTbQWt4N.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFO5CnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmkBnkaSTbQWg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    font-family: Roboto, sans-sarif;
    color: #5c5c5c;
}

.h1, h1 {
    font-size: 2em;
    font-weight: 500;
}

.h2, h2 {
    font-size: 1.75em;
}

.h3, h3 {
    font-size: 1.5em;
}

.h4, h4 {
    font-size: 1.25em;
}

.h5, .h6, h5, h6 {
    font-size: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-weight: normal;
}

strong, b {
    color: #303030;
    font-weight: 500;
}

a {
  color: #4684e0;
  text-decoration: none;
}

@media (max-width: 576px) {
    div.card-mobile-hide {
        border: 0px;
    }
    div.card-mobile-hide > .card-body {
        padding: 0;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 1em;
    }
}

div.container {
    max-width: 900px
}

div.container-wrapper {
    width: 92%;
    margin:0 auto;
}

div.profile_header {
}

div.p2rem {
    padding: 2rem 2rem;
}

ul.pl15 {
    padding-left: 1.5em;
}

.li-selected {
    background-color: #fff7d6;
}

.li-selected-two {
    background-color: #ffe0b2;
}

.li-arxiv:before {
    counter-increment: arxivcounter -1;
    content: '[A' counter(arxivcounter) "] ";
    font-weight: 500;
    color: #303030;
}

.li-conference:before {
    counter-increment: confcounter -1;
    content: '[C' counter(confcounter) "] ";
    font-weight: 500;
    color: #303030;
}

.li-workshop:before {
    counter-increment: wscounter -1;
    content: '[W' counter(wscounter) "] ";
    font-weight: 500;
    color: #303030;
}

.li-conference-workshop:before {
    counter-increment: confcounter -1 wscounter -1;
    content: '[C' counter(confcounter) '/W' counter(wscounter) "] ";
    font-weight: 500;
    color: #303030;
}

.li-journal:before {
    counter-increment: journalcounter -1;
    content: '[J' counter(journalcounter) "] ";
    font-weight: 500;
    color: #303030;
}

.li-others:before {
    content: '[O]';
    font-weight: 500;
    color: #303030;
}

.li-workshop-orig:before {
    counter-increment: wsocounter -1;
    content: '[WO' counter(wsocounter) "] ";
    font-weight: 500;
    color: #303030;
}

.li-tutorial:before {
    counter-increment: ttcounter -1;
    content: '[T' counter(ttcounter) "] ";
    font-weight: 500;
    color: #303030;
}

ul.list-no-border > li {
    border: none;
}

.no-border {
    border: none;
}

.top-bottom-border {
    border-top: 0.5px solid #707070;
    border-bottom: 0.5px solid #707070;
}
